---
layout: page
title: Status
permalink: /status/
body_class: "page-blog"
---

{% include header.html %}

<div class="row">
  <div class="small-12">
    <div class="single-post">
      <div class="post-item">
          <div class="post-content">
              <p class="status-header">Here you can find real-time status of Xpiks outstanding issues  across all platforms. If you experience any issue with Xpiks you can check here if it is known indcident and if it is being addressed.</p>
          
            {% for item in site.data.status %}
            <article class="status-item">
                <span class="status-date">{{ item.date | date: "%b %-d %H:%M" }}</span>&nbsp;<span class="{{item.type}}">{{item.title}}</span>
                <div class="status-item-content">
	            {{item.content}}
	        </div>
            </article>
	  {% endfor %}
          
        </div>
      </div>
    </div>
    <!-- /single post -->
  </div>
</div>
