{{- $.Scratch.Set "free_download" true -}}
{{- $.Scratch.Set "free_download_class" "section-grey" -}}

<div class="section-default section-tuts">
  <div class="row">
  <div class="small-12 medium-4 large-3 columns">
    <div class="tutorials-sidebar">
      {{ $topics := (sort (where $.Site.RegularPages "Type" "topic")  "Params.order")  }}
      {{ $byTopicPages := $.Site.RegularPages.GroupByParam "topic" }}

      <ul class="tutorial-nav">
        {{ range $topic := $topics }}
          {{ $is_current_topic := (eq $.Params.topic $topic.Params.slug) }}
          {{ $curTopicPage := "" }}
          {{ range $topicPage := $byTopicPages }}
            {{ if ( eq $topicPage.Key $topic.Params.slug ) }}
              {{ $curTopicPage = (sort $topicPage.Pages  "Params.order") }}
            {{ end }}
          {{ end }}
          <li {{ if ($is_current_topic) }} class="active" {{ end }}>
            <a href="{{$topic.RelPermalink}}">{{ $topic.Title }}</a>
            <ul class="tutorial-sub-nav {{ if ($is_current_topic) }}topic-open{{ end }}">
              {{ range $page := $curTopicPage }}
              <li {{ if eq $.RelPermalink $page.RelPermalink }} class="active" {{ end }}>
                <a href="{{$page.RelPermalink}}">{{$page.Title}}</a>
              </li>
              {{ end }}
            </ul>
          </li>
        {{ end }}
      </ul>
    </div>
  </div>
  <div class="small-12 offset-large-1 large-8 medium-8 columns">
    <div class="tutorial-content">
    <h1>{{ $.Title}}</h1>
    {{$.Content}}
    {{if (eq $.Type "topic") }}
      {{ partial "topic/list" .}}
    {{end}}
    </div>
  </div>
  </div>
</div>
